<template>
  <div class="app-container">
    简要说明问题：
    <div style="margin: 20px 0;" />
    <el-input
      v-model="feedbackTitle"
      maxlength="40"
      show-word-limit
      placeholder="请输入内容"
    />
    <div style="margin: 20px 0;" />
    详细描述说明：
    <div style="margin: 20px 0;" />
    <el-input
      v-model="feedbackContent"
      type="textarea"
      :autosize="{ minRows:8, maxRows: 20}"
      placeholder="请输入内容"
    />
    <div style="margin: 20px 0;" />
    <el-button type="primary">提交反馈<i class="el-icon-upload el-icon--right" /></el-button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      feedbackTitle: '',
      feedbackContent: ''
    }
  }
}
</script>

<style scoped>
.el-input {
  width: 75%;
}
.el-textarea {
  width: 75%;
}
</style>
