<template>
  <div class="dashboard-container">
    <p>系统通知</p>
    <div style="margin: 20px 0;" />
    <el-table
      :data="systemNotification"
      stripe
      style="width: 100%"
    >
      <el-table-column
        prop="detail"
        label="内容"
      />
      <el-table-column
        prop="level"
        label="级别"
        width="80"
      />
      <el-table-column
        prop="date"
        label="发布时间"
        width="180"
      />
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      systemNotification: [
        {
          detail: '系统测试中，请留意问题并及时上报',
          level: '低',
          date: '1919-8-10'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
}

p {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 18px;
  color: #2c3e50;
}
</style>
