<template>
  <div class="app-container">
    <el-form :inline="true" class="demo-form-inline">
      <el-form-item label="入院编号">
        <el-input v-model="pid" placeholder="1145141919810" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSearch">查询</el-button>
      </el-form-item>
    </el-form>
    <el-form :inline="true" class="image-form">
      <el-form-item label="上传图像">
        <el-upload :http-request="onImageUpload" accept="image/*" :action="uploadPath" :headers="headers" :show-file-list="false">
          <el-button type="primary" :loading="loading">点击上传<i class="el-icon-upload2 el-icon--right" /></el-button>
        </el-upload>
      </el-form-item>
    </el-form>
    <el-tabs type="border-card">
      <el-tab-pane label="影像管理">
        <div v-for="img in imageList" :key="img" class="image-block">
          <el-image
            style="width: 220px"
            :src="img.url"
            :preview-src-list="[img.url]"
          />
          <el-button
            class="image-block-button"
            type="danger"
            icon="el-icon-delete"
            circle
            @click="onImageDelete(img.id)"
          />
        </div>
      </el-tab-pane>
      <el-tab-pane label="AI辅助诊断结果">
        <div v-for="img in imageList" :key="img" class="ai-diagnosis-block">
          <el-row :gutter="20">
            <el-col :span="16">
              <el-image
                class="ai-diagnosis-block-image"
                :src="img.url"
                :preview-src-list="[img.url]"
              />
            </el-col>
            <el-col :span="8">
              <el-card class="ai-diagnosis-block-result" shadow="hover" style="width: 300px;">
                <el-form :label-position="right" label-width="100px">
                  <el-form-item label="AI 分析状态">
                    <el-tag v-if="img.done == true" type="success">已完成</el-tag>
                    <el-tag v-else type="warning">处理中</el-tag>
                  </el-form-item>
                  <el-form-item label="组织类型">
                    {{ img.category }}
                  </el-form-item>
                  <el-form-item label="真阳性概率">
                    {{ img.possibility }}
                  </el-form-item>
                </el-form>
              </el-card>
            </el-col>
          </el-row>
        </div>
      </el-tab-pane>
      <el-tab-pane label="撰写诊断结果">
        <div style="padding: 5px 5px 10px 5px;">
          <tinymce v-model="content" :height="300" />
        </div>
        <div style="padding: 0px 15px 0px 0px; float:right;">
          <el-button type="primary" @click="onSubmitResult">提交诊断结果</el-button>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import Tinymce from '@/components/Tinymce'

export default {
  components: { Tinymce },
  data() {
    return {
      headers: { 'Content-Type': 'multipart/form-data' },
      pid: '',
      uploadPath: 'http://127.0.0.1:5000/dev-api/images',
      content:
      `<h4>TODO: 编写一个诊断书模板</h4>`,
      imageList: null
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.$store.dispatch('image/getImages').then(response => {
        this.imageList = response.data
      }).catch(() => {
        console.log('list failed')
      })
    },
    onSearch() {
      console.log('onSubmit!')
    },
    onSubmitResult() {
      console.log('onSubmit!')
    },
    onImageUpload(fileObj) {
      this.loading = true
      const file = fileObj.file
      const name = file.name
      const fileReader = new FileReader()
      if (file) {
        fileReader.readAsDataURL(file)
      }
      fileReader.onload = () => {
        const base64Str = fileReader.result
        this.$store.dispatch('image/upload', { 'image': base64Str.split(',')[1], 'name': name }).then((response) => {
          this.loading = false
          console.log(response)
          const data = response.data
          this.imageList.unshift(data)
          console.log('onUpload!')
        }).catch(() => {
          this.loading = false
          console.log('fail!')
        })
      }
    },
    onImageDelete(imgId) {
      this.$store.dispatch('image/delImage', imgId).then(response => {
        this.imageList.some((item, i) => {
          if (item.id === imgId) {
            this.imageList.splice(i, 1)
            return true
          }
        })
        console.log('onImageDelete!' + imgId)
      }).catch(() => {
        console.log('del failed')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.image-block {
  &-button {
    display: block;
    margin: 0 auto;
  }
  display: inline-block;
  padding: 5px 10px 0;
  vertical-align: top;
}

.ai-diagnosis-block {
  &-result {
    display: inline-block;
    vertical-align: top;
  }
  display: inline-block;
  padding: 10px 10px 0;
  vertical-align: top;
}
</style>
