<template>
  <div class="app-container">
    <el-tabs type="border-card">
      <el-tab-pane label="注册">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="姓名">
            <el-input v-model="form.name" style="width: 200px;" />
          </el-form-item>
          <el-form-item label="证件号">
            <el-input v-model="form.id" placeholder="请输入内容" class="input-with-select" style="width: 550px;">
              <el-select slot="prepend" v-model="form.idType" placeholder="请选择证件类型" style="width: 150px;">
                <el-option label="身份证" value="1" />
                <el-option label="护照" value="2" />
                <el-option label="军人证" value="3" />
              </el-select>
            </el-input>
          </el-form-item>
          <el-form-item label="性别">
            <el-radio-group v-model="form.sex">
              <el-radio label="男" />
              <el-radio label="女" />
            </el-radio-group>
          </el-form-item>
          <el-form-item label="科室">
            <el-select v-model="form.region" placeholder="请选择注册科室">
              <el-option label="区域一" value="lung" />
              <el-option label="区域二" value="skin" />
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">立即创建</el-button>
            <el-button>取消</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="查询">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="入院编号">
            <el-input v-model="form.uid" placeholder="" class="input-with-select" style="width: 400px;">
              <el-button slot="append" icon="el-icon-search">查询</el-button>
            </el-input>
          </el-form-item>
          <el-form-item label="姓名">
            <el-input v-model="form.name" style="width: 200px;" />
          </el-form-item>
          <el-form-item label="证件号">
            <el-input v-model="form.id" placeholder="请输入内容" class="input-with-select" style="width: 550px;">
              <el-select slot="prepend" v-model="form.idType" placeholder="请选择证件类型" style="width: 150px;">
                <el-option label="身份证" value="1" />
                <el-option label="护照" value="2" />
                <el-option label="军人证" value="3" />
              </el-select>
            </el-input>
          </el-form-item>
          <el-form-item label="性别">
            <el-radio-group v-model="form.sex">
              <el-radio label="男" />
              <el-radio label="女" />
            </el-radio-group>
          </el-form-item>
          <el-form-item label="科室">
            <el-select v-model="form.region" placeholder="请选择注册科室">
              <el-option label="区域一" value="lung" />
              <el-option label="区域二" value="skin" />
            </el-select>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        id: '',
        idType: '',
        uid: '',
        sex: 0,
        region: ''
      }
    }
  },
  methods: {
    onSubmit() {
      console.log(this.form)
    }
  }
}
</script>

<style scoped>
</style>
